/* Tree.css */
/* Complex transition with shadows */
.cloud-image:hover img {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
    /* Initial shadow */
}
.cloud-image:hover img {
    opacity: 0.8;
    /* Shadow on hover */
}

/* Define the standard floating animation */
@keyframes floatStandard {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Define a faster floating animation */
@keyframes floatFaster {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Define a slower floating animation */
@keyframes floatSlower {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Apply the standard floating animation */
.cloud-image-standard img {
    animation: floatStandard 3s ease-in-out infinite;
}

/* Apply the faster floating animation */
.cloud-image-faster img {
    animation: floatFaster 2s ease-in-out infinite;
}

/* Apply the slower floating animation */
.cloud-image-slower img {
    animation: floatSlower 4s ease-in-out infinite;
}

