/* Define the floating animation */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.trees-container {
    display: flex;
    justify-content: space-evenly; /* This will space out the trees evenly */
    align-items: center;
}

.tree-wrapper {
    max-width: 300px; /* Reduced from 200px */
    margin: 0 80px; /* Reduced margin for closer spacing */
}

.tree-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.tree-image img {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
    /* Initial shadow */
}
.tree-image img {
    animation: float 3s ease-in-out infinite;
    /* Smooth floating animation continuously */
}

.tree-image:hover img {
    opacity: 0.8;
    /* Shadow on hover */
}
